html,
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    overflow-x: hidden;
}

body {
    font-size: 62.5%;
    background: #fff;
    color: #4e4e4e;
    position: relative;
}

*{
    -webkit-font-smoothing: antialiased;
}

*{
    -moz-outline:0 none;
    outline:0 none;
}

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    display: block;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #000;
}

p {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    color: #4e4e4e;
    font-weight: normal;
}

h1 {
    font-size: 2.6em;
    font-weight: 500;
}

h2 {
   font-size: 2em;
   color: #000;
   font-weight: 500;
}

h3 {
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 1.9em;
    font-weight: normal;
}

/*---------Basic CSS for Navbar----------*/
#header{
    width: 100%;
    background: #000;
    padding: 2em 1em;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

.headerContainer{
    max-width: 120em;
    margin: 0 auto;
    position: relative;
}

.navbarHeader {
    float: left;
}

.menu {
    font-size: 1.8em;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 0.2em;
    right: 0;
}

.menu span {
    color: #68B90B;
}

.sideMenu {
    width: 0;
    height: 100%;
    margin-top: 7.5em;
    position: fixed;
    top: 0;
    left: -1px;
    z-index: 99;
    overflow-x: hidden;
    background-color: #fff;
    border-right: solid 1px #ddd;
    transition: 0.5s;
}

.sideMenu ul {
    padding: 0;
    margin: 0;
}

.sideMenu nav > a {
    -webkit-border-radius: 3px;
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: 40px;
    padding: 0 30px;
    color: #fff;
    display: inline-block;
    border: 2px solid #68B90B;
    text-decoration: none;
    margin:4em 0.5em;
    background: #68B90B;
}
 
.sideMenu ul li {
   list-style: none;
   display: block;
   width: 100%;
   background-color: #fff;
}

.sideMenu ul li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    text-decoration: none;
    color: #666;
    padding: 1em 0.5em;
    border-bottom: solid 1px #ddd;
}

.sideMenu .panel {
    margin-left: 1em;
    display: none;
}

.sideMenu ul li a span {
    display: inline-block;
    float: right;
    color: #68B90B;
}

.sideMenu ul li a.close{
  color: #68B90B;
  text-align: right;
  padding-right: 1em;
}

#main {
    width: 100%;
    height: 30em;
    margin-top: 7em;
    background-color: #666;
    overflow: hidden;
    position: relative;
}

.mainSlider {
    height: 100%;
    width: 100%;
}

.autoplay div {
    width: 100%;
    height: 100%;
}

.autoplay div img {
    width: 100%;
    height: 100%;
}

.autoplay .slick-prev,
.autoplay .slick-next{
    display: none !important;
}

.overlay {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.welcomeMsg {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 0;
    padding: 0 1em;
}

.welcomeMsg h1 {
    color: #fff;
}

.welcomeMsg p {
    color: #fff;
    margin: 1.5em auto;
    font-size: 1.6em;
}

.welcomeMsg a {
    -webkit-border-radius: 3px;
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: 40px;
    padding: 0 30px;
    color: #fff;
    display: inline-block;
    border: 2px solid #68B90B;
    text-decoration: none;
    margin-right: 0.5em;
}

.getStarted {
    background: #68B90B;
}

#container {
    width: 100%;
    background: #fff;
}

.golfTips {
    background-color: #f9f9f9;
    padding: 5em 0;
    text-align: center;
}

.golfTipsContainer {
    width: 100%;
    padding: 0em 1em;
}

.golfTips h2 {
    padding-bottom: 1em;
}

.golfTips a {
    -webkit-border-radius: 3px;
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: 40px;
    padding: 0 30px;
    color: #fff;
    display: inline-block;
    border: 2px solid #68B90B;
    text-decoration: none;
    margin-right: 0.5em;
    background: #68B90B;
}

.golfAuthor {
    max-width: 120em;
    margin: 0 auto;
    background: #222222;
}

.golfAuthorWrapper {
    width: 100%;
}

.aboutAuthor {
    width: 100%;
    padding: 6em 1em;
}

.aboutAuthor h2 {
    padding-bottom: 1em;
    padding-top: 1em;
    color: #fff;
}

.aboutAuthor h2 span {
    color: #68B90B;
    font-size: 1em;
}

.aboutAuthor h3 {
    color: #fff;
    line-height: 1em;
}

.aboutAuthor p {
    color: #fff;
    margin: 1em 0 0;
    font-size: 1.8em;
}

.aboutAuthor p i{
    color: #68B90B;
    margin: 0 0.5em;
    font-weight: normal;
    font-size: 0.8em;
}

.aboutAuthor span {
    color: #68B90B;
    font-size: 1.8em;
    margin: 0;
    padding: 0;
}

.aboutAuthor ul {
    padding: 2em 0;
    margin: 0;
}

.aboutAuthor ul li {
    list-style: none;
    display: inline-block;
    margin-right: 2em;
    margin-bottom: 1.5em;
}

.aboutAuthor img {
    margin: 1em 0;
}

.aboutAuthor ul li a {
    color: #fff;
    font-size: 1.6em;
    padding: 0.1em 2em;
    font-weight: normal;
    border: solid 1px #68B90B;
}

.startLearning {
    width: 100%;
    background: #fff;
    padding: 3em 0 0em;
    margin: 3em 0em 4em;
}

.startLearning h2 {
    text-align: center;
}

.startLearning hr {
    width: 10em;
    margin: 2em auto;
    border: solid 1px #68B90B;   
}

.startLearning p {
    text-align: center;
    padding: 0 1em;
}

.startLearningWrapper {
    max-width: 120em;
    margin: 2em auto 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2em 0;
}

.tab {
    width: 30%;
    padding: 0.5em 0;  
    text-align: center;
    margin: 5px;
}

.tab img {
    display: block;
    margin: 0 auto;
    width: 3em;
    height: 3em;
}

.tab:nth-child(2) {
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-radius: 2em;  
}

.tab:hover{
   background-color: #ddd;
}

.tab.active{
    border-top: solid 5px #68B90B; 
    border-radius: 1em; 
    background-color: #ddd; 
}

.startLearningWrapper h3 {
    padding-top: 1em;
}

.howTo {
    max-width: 120em;
    margin: 1em auto;
    padding: 2em 0;
    display: none;
}

.howToImg {
    width: 100%;
    height: 20em;
}

.howToImg img {
    width: 100%;
    height: 100%;
}
.howToInfo {
    width: 100%;
}

.howToInfo h2 {
    text-align: left;
    padding: 1em 0 0 0.5em;
}

.howToInfo hr {
    margin-left: 1em;
}

.howToInfo p {
    text-align: left;
    margin-bottom: 1em;
    color: #4f4f4f;
}

.howToInfo ul {
    padding-left: 1em;
}

.howToInfo ul li {
    list-style: none;
    font-size: 1.6em;
    line-height: 1.8;
}

.howToInfo ul li i {
    color: #68B90B;
}

.howToInfo a {
    -webkit-border-radius: 3px;
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: 40px;
    padding: 0 30px;
    color: #fff;
    display: inline-block;
    border: 2px solid #68B90B;
    text-decoration: none;
    margin-right: 0.5em;
    margin-top: 0.7em;
    margin-left: 1em;
    background: #68B90B;
}

/*.lessons {
    width: 100%;
    background-color: #222222;
}

.lessonsWrapper {
    max-width: 120em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4em 0;
}

.lessonsWrapper div {
    width: 30%;
    margin: 2em auto;
    text-align: center;
}

@media only screen and (max-width: 640px) {
    .lessonsWrapper div {
         width: 60%;
    }
}

.lessonsWrapper i {
    color: #68B90B;
    font-size: 4em;
}

.lessonsWrapper span {
    font-size: 3.2em;
    color: #fff;
    font-weight: normal;
    padding-left: 0.5em;
}

.lessonsWrapper h3 {
    color: #fff;
    padding-top: 1em;
}*/

/*.membership {
    width: 100%;
    background: #fff;
    padding: 6em 1em 0;
}

.membership > h2 {
    text-align: center;
}

.membership hr {
    width: 10em;
    margin: 2em auto;
    border: solid 1px #68B90B;
}

.membership > p {
    max-width: 60em;
    margin: 0 auto;
    text-align: center;
}

.membershipWrapper {
    max-width: 120em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4em 0;
}

.planA, .planB, .planC {
    min-width: 30em;
    border: solid 1px #ddd;
    padding: 3em;
    margin-bottom: 2em;
}

.planB .planHead {
    background: #68B90B;
}

.planHead {
    background: #222222;
    text-align: center;
    color: #fff;
    font-size: 1.8em;
    margin-bottom: 2em;
}

.planHead h2 {
    display: inline-block;
    color: #fff;
    padding: 0.2em 0.1em;
}

.planBody h3 {
    text-align: center;
}

.planBody p {
    text-align: center;
    padding-bottom: 1em;
    color: #68B90B;
}

.planBody ul {
    margin: 0;
    padding: 0;
}

.planBody ul li {
    list-style: none;
    font-size: 1.6em;
    line-height: 1.6;
    padding-bottom: 0.5em;
}

.planBody ul li i {
    margin-right: 1em;
}

.planBody ul li .fa-check {
    color: #68B90B;
}

.planBody a {
    -webkit-border-radius: 3px;
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: 40px;
    padding: 0 30px;
    color: #fff;
    display: inline-block;
    border: 2px solid #68B90B;
    text-decoration: none;
    margin: 1em 0;
    background: #68B90B;
}*/

.reviews {
    width: 100%;
    height: 50em;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/slide2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 4em 0 ;
    position: relative;
}

.reviews h2 {
    text-align: center;
    color: #fff;
    z-index: 2;
}

.reviews hr {
    width: 10em;
    margin: 2em auto;
    border: solid 1px #68B90B;
}

.reviewsWrapper {
    max-width: 120em;
    margin: 0 auto;
    overflow: hidden;
}

.single-item div{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.single-item div img {
    width: 12.5em;
    height: 12.5em;
    display: block;
    margin: 2em auto;
    border-radius: 100%;
}

.single-item div p {
    max-width: 50em;
    margin: 0 auto;
    color: #fff;
}

.single-item div p span {
    color: #68B90B;
}

.single-item div i {
    color: #68B90B;
    font-size: 3em;
    margin: 1em 0;
}

.single-item .slick-next {
    position: absolute;
    bottom: 20%;
    right: 0;
    z-index: 1;
    font-size: 4em;
    color: #fff;
    background: transparent;
    border: none;
}

.single-item .slick-prev {
    position: absolute;
    bottom: 20%;
    left: 0;
    z-index: 1;
    font-size: 4em;
    color: #fff;
    background: transparent;
    border: none;
}

.moments {
    width: 100%;
    background: #fff;
    padding: 6em 0 0;
    margin-bottom: 4em;
}

.moments > h2 {
    text-align: center;
}

.moments hr {
    width: 10em;
    margin: 2em auto;
    border: solid 1px #68B90B;
}

.momentsWrapper {
    max-width: 120em;
    margin: 2em auto;
    overflow: hidden;
}

.moment {
    width: 30%;
    height: 35em;
    margin: 5px;
    border: solid 1px #ddd;
}

.moment img {
    width: 100%;
    height: 25em;
}

.moment h4 {
   margin: 1em;
   font-size: 1.2em;
   font-weight: normal;
}

.moment h3 {
    margin-left: 0.6em;
    font-size: 1.8em;
    font-weight: normal;
}

.moments-autoplay {
    position: relative;
}

.moments-autoplay .slick-next {
   position: absolute;
    top: 30%;
    right: 1%;
    z-index: 1;
    font-size: 4em;
    color: #fff;
    background: transparent;
    border: none;
}


.moments-autoplay .slick-prev {
    position: absolute;
    top: 30%;
    left: 1%;
    z-index: 1;
    font-size: 4em;
    color: #fff;
    background: transparent;
    border: none;
}

footer {
    width: 100%;
    height: 30em;
    background: #222222;
    padding: 0.8em;
}

.footerWrapper {
    max-width: 120em;
    margin: 0 auto;
    padding: 4em 0;
}

.footerWrapper img {
    display: block;
    margin: 2em auto;
}

.footerWrapper ul {
    text-align: center;
    width: 95%;
}

.footerWrapper ul li {
    list-style: none;
    display: inline-block;
    margin: 0.5em;
}

.footerWrapper ul li a {
    font-size: 1.8em;
    padding: 0.5em 1em;
    color: #fff;
}

.footerWrapper p {
    text-align: center;
    color: #fff;
}

.footerWrapper p a {
    color: #68B90B;
}

/*--------------Tournament-----------*/

.heroImg {
    width: 100%;
    height: 30em;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/GolfTick.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 7em;
}

.heroImgOverlay {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0;
    text-align: center;
}

.heroImgOverlay h1, p{
    color: #fff;
    padding-bottom: .5em; 
}

.heroImgOverlay hr {
    width: 8em;
    border: solid 1px #fff;
    margin: 1em auto;
}

.schedule {
    width: 100%;
    background: #fff;
    margin: 3em 0 4em;
}

.scheduleWrapper {
    max-width: 120em;
    margin: 0 auto;
}

.scheduleWrapper h2 {
    padding-left: 0.5em;
}

.scheduleTable {
    width: 100%;
    padding: 3em 0;
}

.scheduleTable table {
    border-collapse: collapse;
    width: 100%;
}

.scheduleTable tr th {
    font-size: 1.6em;
    background-color: #00284b;
    color: #fff;
    font-weight: normal;
}

.scheduleTable tr td {
    font-size: 1.6em;
    color: #666;
}

.scheduleTable tr td a {
    text-decoration: none;
    color: #00284b;
    padding: 0.5em 1em;
}

.scheduleTable tr td > a {
    padding: 0;
}

.scheduleTable tr td ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.scheduleTable tr td ul li {
    display: inline-block;
    margin-right: 0.5em;
    padding: 0;
}

.scheduleTable td p {
    color: #666;
    font-size: 1em;
}

.scheduleTable td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.scheduleTable td:first-child {
    padding: 8px 11px;
}

/*----------------tourdetails-----------*/

.detailImg {
    width: 100%;
    height: 40em;
    margin-top: 7em;
    position: relative;
}

.detailImg img {
    width: 100%;
    height: 40em;
}

.detailImg button {
    position: absolute;
    bottom: 5%;
    left: 1%;
    border: none;
    background: #fff;
    color: #000;
    padding: 0.5em 1em;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.6em;
}

/*--------------------tourdetails.html--------------*/

.detailImg {
    width: 100%;
    height: 30em;
    margin-top: 7em;
    position: relative;
}

.detailImg img{
    width: 100%;
    max-height: 30em;

}

.detailImg button {
    position: absolute;
    bottom: 5%;
    left: 1%;
    border: none;
    background: #fff;
    color: #000;
    padding: 0.5em 1em;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.6em;
}

.modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 0; 
    overflow: hidden; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
    transition: all 0.4s;
}

.modalWrapper {
    background-color: transparent;
    margin: 50% auto; 
    width: 100%; 
    height: 40em;
    position: relative;
}

.modal-img, .modal-img div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.modal-img .slick-next {
    position: absolute;
    top: 30%;
    right: 1%;
    z-index: 1;  
    font-size: 5em;
    color: #fff;
    background: transparent;
    border: none; 
}

.modal-img .slick-prev {
    position: absolute;
    top: 30%;
    left: 1%;
    z-index: 1; 
     font-size: 5em;
    color: #fff;
    background: transparent;
    border: none;   
}

#close {
    position: absolute;
    top: -12%;
    right: -1%;
    z-index: 1;
    font-size: 4em;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
}

#close:hover {
    color: #fff;
}

.infoPan {
    width: 100%;
    margin: 2em auto 4em;
    background: #fff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
}

.mainPan {
    width: 95%;
    margin: 0 auto;
    height: 100%;
    border: solid 1px #ddd;
    padding: 3em 1em;
}

.mainInfo {
    width: 100%;
}

.mainInfo h3{
    color: #000;
    padding-bottom: 0.5em;
}

.mainInfo p {
    color: #4e4e4e;
    padding-bottom: 0;
}

.mainInfo p b{
    color: #000;
    font-weight: 400;
}

.controlPan {
    width: 100%;
    margin: 2em 0 0;
}

.controlPan ul {
    width: 100%;
    padding: 1em 0;
    margin: 0;
    text-align: center;
    border: solid 1px #ddd;
}

.controlPan ul li {
    list-style: none;
    display: inline-block;
    min-width: 5em;
    border-right: solid 1px #ddd;
    text-align: center;
    margin: 0 0.1em;
}

.controlPan ul li:last-child {
    border-right: none;
}

.controlPan ul li a{
    display: inline-block;
   text-decoration: none;
   color: #fff;
   font-size: 1.4em;
   padding: 0.5em 1em
}

.pan {
    background: #68B90B;
    color: #fff;
}

.controlledPan {
    width: 100%;
    margin: 2em auto;
}

.panView {
    width: 95%;
    margin: 0 auto;
}

.panViewSelect {
    width: 100%;
    margin: 2em 0;
    border: dotted 1px #ddd;
    padding: 2em;
    position: relative;
}

.panViewSelect h3 {
    margin: 0;
}

.panViewSelect select {
    position: absolute;
    top: 25%;
    right: 2%;
    padding: 0.5em 1em;
}

.pdfHolder {
    width: 100%;
    overflow: hidden;
}

.pdfHolder iframe {
    border: none;
    box-shadow: 0px 0px 1px 1px #888;
    overflow: hidden;
}

/*----Booking form---*/

.sidePan {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 2em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    overflow: auto;
} 

.bookNow {
    max-width: 95%;
    background: #fff;
    padding: 2em;
    margin: 15% auto;
    border-radius: 3px;
    overflow-y:auto;
}

.bookNow h3 {
    color: #000;
    padding-bottom: 0.5em;
}

.bookNow form {
    width: 100%;
}

.bookNow label {
    display: inline-block;
    color: #666;
    font-size: 1.6em;
}

.bookNow div {
    margin-bottom: 1em;
}

.bookNow div input {
    padding: 0.5em 0;
    border: none;
    border-bottom: solid 1px #ddd;
    margin-left: 1em;
    width: 80%;
}

.bookNow button {
    -webkit-border-radius: 3px;
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: 40px;
    padding: 0 30px;
    color: #fff;
    display: inline-block;
    border: 2px solid #68B90B;
    text-decoration: none;
    margin: 1em 0 0;
    background: #68B90B;
    cursor: pointer;

}


.booking {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

#callMeModal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: -9999px;
    left: 0;
    z-index: 2;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.4s;
}

.booking button {
    width: 50%;
    float: left;
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 0.8em 2em;
    border-radius: 3px;
    font-size: 1.6em;
    border: none;
}

#book {
    border-right: solid 1px #ddd;
}

.callMe {
    width: 80%;
    margin: 25% auto;
    padding: 4em 1em;
    background: #fff;
    overflow-y: auto;
}

.callMe h3 {
    text-align: center;
    color: #000;
}

.callMe span {
    display: block;
    text-align: center;
    padding: 1em;
    color: #68B90B;
}

.callMeForm {
    width: 100%;
}

.callMeForm div {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.callMeForm div input {
    font-size: 1.4em;
    padding: 0.5em;
    margin: 2em 0;
}

.callMeForm div input:first-child {
    width: 20%;
}

.callMeForm div input:nth-child(2){
    width: 75%;
}

.callMeForm button {
    -webkit-border-radius: 3px;
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: 30px;
    padding: 0 30px;
    color: #fff;
    display: block;
    border: 2px solid #68B90B;
    text-decoration: none;
    margin: 0 auto;
    background: #68B90B;
}

.closeMe {
    float: right;
    color: #fff;
    background: #68B90B;
    font-size: 1.4em;
    border: none;
    padding: 0.5em 1em;
    border-radius: 3px;
}